<div class="col-md-6 user-container">
  <h2 style="margin: auto">User Details</h2>
  <button class="btn btn-success" style="width:100px" (click)="addUser()">
    Add User
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="hidden">Sl No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td class="hidden">{{ i + 1 || "-" }}</td>
        <td>{{ user.firstName + " " + user.lastName || "-" }}</td>
        <td>{{ user.email || "-" }}</td>
        <td>{{ user.phone || "-" }}</td>
        <td>{{ user.department || "-" }}</td>
        <td>
          <button class="btn btn-success" (click)="editUser(user)">
            Edit
          </button>
          <button class="btn btn-danger" (click)="deleteUser(user)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
